# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Ignorar carpetas de compilación
bin/
obj/
Debug/
Release/

# Ignorar archivos ejecutables
*.exe
*.out
*.o

# Ignorar archivos de depuración
*.log
*.tmp

# Ignorar archivos de sistema (Windows)
Thumbs.db
desktop.ini

# Ignorar carpetas de configuraciones de IDEs (como Visual Studio, etc)
.vscode/
.idea/

